@tailwind base;
@tailwind components;
@tailwind utilities;

@import "scss/tailwind-colors.scss";
@import "scss/animations.scss";
@import "ui/Fretboard/Fretboard.scss";
@import "scss/icons.scss";

:root {
  color-scheme: light dark;
}

* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--regular-font);
  color: inherit;
}

button {
  display: block;
}

body {
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--neutral-200);
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}


/* Handle */
::-webkit-scrollbar-thumb { 
  background: var(--color-grey);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}

#root {
  margin: 0 auto;
  display: grid;
  place-items: center;
  min-height: 100svh;
}

.glow {
  box-shadow: 0 0 10px 5px;
}