:root {
  --theme-color: #245A1B;
  --color-wood: #BA6210;
  --color-grey: #CBCBCB;
  --color-active: #8FFF00;
  --color-bronze: #f4ae50;
  --color-string: var(--color-grey);

  --string-shadow: 0px 10px 3px 0px rgba(0, 0, 0, 0.2);

  counter-reset: fretnumber -1;
}

.fretboard {
  border: 8px solid;
  border-radius: 20px;
  display: inline-block;

  background-color: var(--color-wood);
}

.fretboard-container {
  overflow: auto hidden;
  padding-block: 2rem;
  max-width: 100%;
}

.string {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
  
  counter-reset: fretnumber -1;
}

.string:hover .fret::before {
  --string-glow: 0px 0px 0px 2px var(--color-string);
  
  box-shadow: var(--string-shadow), var(--string-glow);
}
.string:active .fret::before {
  filter: brightness(2) saturate(2);
} 
.string:hover .note {
  transform: scale(1.1);
}

.string:first-of-type .fret::after {
  content: counter(fretnumber);
  position: absolute;
  top: -60px;
  
  color: white;
  width: 100%;

  text-align: center;
}
.string:last-of-type .fret::after {
  content: counter(fretnumber);
  position: absolute;
  top: 60px;

  color: white;
  width: 100%;

  text-align: center;
}

.string:nth-of-type(1) .fret::before {
  height: 2px;
}

.string:nth-of-type(2) .fret::before {
  height: 3px;
}

.string:nth-of-type(3) .fret::before {
  height: 3px;
}

.string:nth-of-type(4) .fret::before {
  height: 5px;
  --color-string: var(--color-bronze);
}

.string:nth-of-type(5) .fret::before {
  height: 6px;
  --color-string: var(--color-bronze);
}

.string:nth-of-type(6) .fret::before {
  height: 6px;
  --color-string: var(--color-bronze);
}

.fret {
  counter-increment: fretnumber;

  position: relative;

  flex: 1;
  box-shadow: 6px 0px 0px 0px black;

  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .fret {
    min-width: 50px;
  }
}

.fret::before {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1;
  background-color: var(--color-string);

  transition: 100ms ease-in-out;
  
  box-shadow: var(--string-shadow);
}

.fret:last-child {
  border-right: none;
}

.note {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1;

  padding: 5px;
  background-color: white;

  border-radius: 100%;
  height: 60%;
  aspect-ratio: 1;

  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.2);

  transition: 150ms ease-in-out;

  user-select: none;
}

.note:empty {
  transform: scale(0);
}

.note:not(.active:not(:where(.third, .fifth))):hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 4px -1px rgba(0, 0, 0, 0.2);
}

:where(.note.active:not(:where(.third, .fifth))) {
  transform: scale(1.2);
}

.note:hover {
  cursor: pointer;
}

.note:active:not(.active:not(:where(.third, .fifth))) {
  transform: scale(0.95);
}

.note.active {
  background-color: var(--color-active);
  position: relative;
  z-index: 1;

  transition: background-color, opacity 250ms;
}

.note.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  opacity: 0;
  background-color: var(--color-active);
  border-radius: 50%;
  z-index: -2;
}

.note.active:not(:where(.third,.fifth))::before {
  animation: fade-out ease-in 250ms forwards;
}

.note.second {
  --color-active: var(--interval-2);
}

.note.third {
  --color-active: var(--interval-3);
}

.note.fourth {
  --color-active: var(--interval-4);
}

.note.fifth {
  --color-active: var(--interval-5);
}

.note.sixth {
  --color-active: var(--interval-6);
}

.note.seventh {
  --color-active: var(--interval-7);
}