:root {
  --green-300: #03110E;
  --green-400: #2C4A13;
  --green-500: #245A1B;
  --green-600: #3B7520;
  --green-700: #329821;
  --green-900: #DAF472;

  --neutral-100: #FEF4EB;
  --neutral-200: #FFEEDF;
  --neutral-300: #F5DBC4;
  // --neutral-400: #;
  --neutral-500: #D1AE8E;
  // --neutral-600: #;
  --neutral-700: #3C270E;
  --neutral-800: #261400;
  --neutral-900: #120700;

  --accent-100: #FFE0A5;
  --accent-500: #AF5B11;
  
  --interval-1: #8EF110;
  --interval-2: #C7E71A;
  --interval-3: #FFDC24;
  --interval-4: #FFA645;
  --interval-5: #FF6F66;
  --interval-6: #856642;
  --interval-7: #0B5D1E;
}